@{
    ViewBag.Title = "Benvenuto";
}

<div class="tab-content">
    @Html.ActionLink("Crea una nuova partita", "StartANewGame", "Game")
    oppure
    @Html.ActionLink("Unisciti una partita", "Join", "Game")
</div>