@{
    ViewBag.Title = "Benvenuto";
}

<br/>
<div class="tab-content">
    <a class="btn btn-info" href="@Url.Action("StartANewGame", "Game")">Create new Game</a>
    or
    <a class="btn btn-info" href="@Url.Action("Join", "Game")">Join an Existing Game</a>
</div>