@model WelcomeTo.Models.Card

<div class="row form-group">
    <div class="col-md-12 text-center">
        <div class="img_container">
            <img src="~/Content/Templates/retro.png" class="numberImg hidden-xs">
            <div class="thumbnail visible-xs">
                <img src="@Model.ImgUrl" class="iconsMobile">
            </div>
            <img src="@Model.ImgUrl" class="retroImg hidden-xs">
        </div>
    </div>
</div>

