@model WelcomeTo.Models.ViewModels.GameVM

<div class="row">
    @foreach (var item in Model.CurrentIcons)
    {
        <div class="col-xs-4 col-md-4">
            @Html.Partial("_cardRetro", item)
        </div>
    }
</div>


<div class="row">
    @foreach (var item in Model.CurrentNumbers)
    {
        <div class="col-xs-4 col-md-4">
            @Html.Partial("_card", item)
        </div>
    }
</div>

