<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-md-6">
            GameID: <span id="gameIdTxt" style="font-weight:bold"></span>
        </div>
        <div class="col-md-6">
            <input id="leaveRoom" type="button" class="btn btn-danger pull-right" value="Leave Room" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Player: <span id="gameNameTxt" style="font-weight:bold"></span>
        </div>
    </div>
</div>
