@model List<WelcomeTo.Models.ProjectCard>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-4 col-md-4 text-center">
            <img src="@item.ImgUrl" class="iconsMobile">
        </div>
    }
</div>

