<div class="row" id="actions">
    <div class="col-md-3 text-center">
        <input id="numberPlaced" type="button" class="btn btn-info gameControls" value="Done" />
    </div>
    <div class="col-md-3 text-center">
        <input id="cantPlace" type="button" class="btn btn-info gameControls" value="Can't place Number" />
    </div>
    <div class="col-md-3 text-center form-inline">
        Complete Project
        <select id="projCompleted" name="projCompleted" class="form-control">
            <option value="0">Choose</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="col-md-3 text-center">
        <input id="drawNewCards" type="button" class="btn btn-success" value="Draw cards" />
    </div>
</div>
