@model WelcomeTo.Models.ViewModels.GameVM

<div class="row">
    @foreach (var item in Model.CurrentIcons)
    {
        <div class="col-md-4">
            @Html.Partial("CardRetro", item)
        </div>
    }
</div>


<div class="row">
    @foreach (var item in Model.CurrentNumbers)
    {
        <div class="col-md-4">
            @Html.Partial("Card", item)
        </div>
    }
</div>

