@model WelcomeTo.Models.ViewModels.GameVM
@{
    ViewBag.Title = "Welcome to... your perfect home";
}

<br/>

<div class="row form-group" id="waitingRoom">
    <div class="col-md-12">
        <input id="start" type="button" class="btn btn-success" value="Start Game" />
    </div>
</div>

<div id="showPlayArea" class="form-group">
    @Html.Partial("_gameChatAndGame", "Game")
    <div id="gameControls" style="display: none;">
        @Html.Partial("_gameControls", "Game")
    </div>
</div>

@Html.Partial("_playerGameInfo", "Game")

<audio>
    <source src="~/Content/Sounds/Pop.mp3" />
</audio>

@section scripts
{
    <script type="text/javascript">
        function updateScrollDivLog() {
            var element = document.getElementById("divLog");
            element.scrollTop = element.scrollHeight;
        }

        function disableActions(){
            $(".gameControls").prop('disabled', 'disabled');
        }

        function callGameRefresh()
        {
            $.ajax({
                method: "get",
                url: "/Game",
            }).done(function (result) {
                $("#gameCont").html(result);
            });
        }

        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;

            var gameId = $.cookie('gameId');
            var gameName = $.cookie('gameName');

            $("#gameIdTxt").html(gameId);
            $("#gameNameTxt").html(gameName);

            // Dati di connessione
            chat.state.gameId = gameId;
            chat.state.name = gameName;

            // Funzioni di ritorno
            chat.client.showMessage = function (data) {
                $("#divLog").append("<div>" + data + "<div/>");
                updateScrollDivLog();
            };

            chat.client.gameStarted = function (gameId) {
                $('#waitingRoom').remove();
                $("#gameControls").show();
                callGameRefresh();
            };

            chat.client.refreshDrawnCards = function () {
                $(".gameControls").prop('disabled', false);
            }

            chat.client.refreshGameForAll = function () {
                callGameRefresh();
                var audio = $("audio")[0];
                audio.play();
            }

            // Avvio connessione.
            $.connection.hub.start().done(function () {
                chat.server.join(chat.state.gameId);
                chat.server.hasJoined();

                $('#start').click(function () {
                    chat.server.startGame();

                    // Chiamata AJAX a metodo per rimuovere da file il gioco
                    $.get('/Game/GameStarted?gameId=' + chat.state.gameId);
                });

                
                $(document).on("click", '#numberPlaced', function (event) {
                    chat.server.numberPlaced();
                    disableActions();
                });

                $('#cantPlace').click(function () {
                    chat.server.cantPlace();
                    disableActions();
                });

                $('#projCompleted').on('change', function () {
                    var idproject = $(this).val();

                    if (idproject == 0)
                    {
                        return false;
                    }

                    $("#projCompleted option[value='" + idproject + "']").remove();
                    $(this).val("0");

                    chat.server.projectCompleted(idproject);
                    disableActions();
                });

                $('#allNumPlaced').click(function () {
                    chat.server.allNumbersPlaced();
                    disableActions();
                });

                $('#leaveRoom').click(function () {
                    chat.server.leave(chat.state.gameId);
                    window.location.replace('/');
                });

                $("#sendMsg").click(function () {
                    var $msgToSend = $("#msgToSend");

                    chat.server.sendChat($msgToSend.val());
                    $msgToSend.val('');
                });

                // per intercettare la pressione del tasto [enter]
                $('#msgToSend').keyup(function (e) {
                    if (e.keyCode == 13) {
                        var $msgToSend = $("#msgToSend");

                        chat.server.sendChat($msgToSend.val());
                        $msgToSend.val('');
                    }
                });

                $("#accordToggleIcon").click(function () {
                    $(this).toggleClass("glyphicon-chevron-down");
                    $(this).toggleClass("glyphicon-chevron-up");
                });
            });
        });
    </script>
}
