    .img_container {
      position: relative;
    }
    .numberImg {
      /*width: 100%;
      height: auto;*/
      /*display: block;
      margin: 0 auto;*/
      position:relative;
    }

    .retroImg {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }

    .iconImg {
        width: 13%;
        height:20%;
        position: absolute;
    }

    .iconTopImg {
        top: 27px;
        left: 82%;
        transform: translate(-50%,-50%);
    }

    .iconBottomImg {
        top: 88%;
        left: 18%;
        transform: translate(-50%,-50%);
    }

    .img_container h2 {
      color: black;
      position: absolute;
      top: 42%;
      left: 48.5%;
      -webkit-transform: translate(-50%, -50%); /* iOS */
      transform: translate(-50%, -50%);
    }

    .numberIcon {
        display:block;
        width: 45px;
        height: 24px;
        color:white;
        position: absolute;
        font-size:18px;
        line-height: 25px;
    }

    .numberTop {
        top: 12%;
        left: 26.5%;
        transform: translate(-50%,-50%);
    }

    .numberBottom {
        top: 87%;
        left: 74.5%;
        transform: translate(-50%,-50%);
    }